body {
    background: linear-gradient(to left, #45da32, #92ba3a, #98e40a);
    display: flex;
}

table {
    background-color: white;
    width: 600px;
    height: 700px;
    border-radius: 8px;
}

table tr{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

table td {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kutu {
    margin-left: 230px;
    width: 600px;
    height: 1430px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
}

.kutu h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kutu p{
    margin-left: 3px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    text-align: center;
}